*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #0D1218;
}

.container-nav{
    width: 1200px;
    margin: auto;
    padding-bottom: 10px;
}

nav{
    z-index: 100;
    background-color:  rgb(19, 21, 22);
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #000000;
    line-height: 60px;
    width: 100%;
}

nav.logo{
    line-height: 55px;
    text-align: center;
}

nav .logo img {
    padding: 1px;
    float: left;
    width: 123px;
    vertical-align: middle;
    margin-top: 0px;
}

.search{
    position: relative;
    width: 26em;
    float: left;
    margin-top: 23px;
    margin-left: 30px;
}

.srch{
    font-family: 'Times New Roman';
    width: 350px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FF7F3F;
    margin-top: 18px;
    color: white;
    border-right: none;
    font-size: 18px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn{
    margin-left: -80px;
    margin-top: 18px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    background-color: #FF7F3F;
    border: 2px solid #FF7F3F;
    color: #fff;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

nav .menu{
    float: right;
    height: 60px;
    max-width: 720px;
}

nav .menu ul{
    list-style-type: none;
    padding: 3px;
    display: flex;
    float: left;
    justify-content: space-between;
}

nav .menu ul li{
    list-style-type: none;
    line-height: 100px;
    justify-content: space-between;
    float: left;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
}

nav ul li a:hover{
    color: #FF7F3F;
    text-decoration: underline;
}

nav ul li a:hover{
    color: #FF7F3F;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.active{
    color: #FF7F3F;
    text-decoration: underline;
}

.active:hover{
    color: #FF7F3F !important;
}

.container-fasilitas{
    padding-top: 130px;
    background: #0D1218;
    background-color: #0D1218;
    padding-bottom: 20px;
}

.container-fasilitas h4{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 100px;
}

.title-page{
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
    color: aliceblue;
    font-weight: bold;
}

.container-fasilitas H4{
    font-size: 35px;
    padding: 6px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 30px;
}

.list-wahana{
    display: grid;
    padding: 10px;
    margin-left: 5em;
    width: 70em;
    height: 50em;
    grid-template-areas: 
        'img-1 img-2 img-3 img-4 img-5'
        'img-6 img-7 img-8 img-9 img-10'
        'img-11 img-12 img-13 img-14 img-15';
    grid-column-gap: 8px;
    grid-row-gap: 8px;

}

.gambar{
    display: grid;
    padding: 10px;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 30px;
}
.img-1{
    grid-area: img-1;
    background-image: url(../image/Guardian-Bravo.jpg);
    background-size: cover;
}

.img-2{ 
    grid-area: img-2;
    background-image: url(../image/rollercoster.jpg);
    background-size: cover;
}

.img-3{
    grid-area: img-3;
    background-image: url(../image/rumah\ hantu.jpg);
    background-size: cover;
}

.img-4{
    grid-area: img-4;
    background-image: url(../image/bombomcar.jpg);
    background-size: cover;
}

.img-5{
    grid-area: img-5;
    background-image: url(../image/climbing.jpg);
    background-size: cover;
}

.img-6{
    grid-area: img-6;
    background-image: url(../image/sky\ piratess.jpg);
    background-size: cover;
}

.img-7{
    grid-area: img-7;
    background-image: url(../image/swat.jpg);
    background-size: cover;
}

.img-8{
    grid-area: img-8;
    background-image: url(../image//pemburu\ badai.jpg);
    background-size: cover;
}

.img-9{
    grid-area: img-9;
    background-image: url(../image//giant\ swing.jpg);
    background-size: cover;
}

.img-10{
    grid-area: img-10;
    background-image: url(../image/jelajah.jpg);
    background-size: cover;
}

.img-11{
    grid-area: img-11;
    background-image: url(../image/vertigo.jpg);
    background-size: cover;
}

.img-12{
    grid-area: img-12;
    background-image: url(../image//ww.jpg);
    background-size: cover;
}

.img-13{
    grid-area: img-13;
    background-image: url(../image/snow.jpg);
    background-size: cover;
}

.list-zone{
    display: grid;
    padding: 10px;
    margin-left: 5em;
    width: 70em;
    height: 17em;
    grid-template-areas: 
        'zn-1 zn-2 zn-3 zn-4 zn-5';
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.zone{
    display: grid;
    padding: 10px;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 30px;
}

.zn-1{
    grid-area: zn-1;
    background-image: url(../image/adventure.jpg);
    background-size: cover;
}

.zn-2{ 
    grid-area: zn-2;
    background-image: url(../image/light.jpg);
    background-size: cover;
}

.zn-3{
    grid-area: zn-3;
    background-image: url(../image/action.jpg);
    background-size: cover;
}

.zn-4{
    grid-area: zn-4;
    background-image: url(../image/cullture.jpg);
    background-size: cover;
}

.list-show{
    display: grid;
    padding: 10px;
    margin-left: 5em;
    width: 70em;
    height: 17em;
    grid-template-areas: 
        'rs-1 rs-2 rs-3 rs-4 rs-5';
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.show{
    display: grid;
    padding: 10px;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 30px;
}

.rs-1{
    grid-area: rs-1;
    background-image: url(../image/sas.jpg);
    background-size: cover;
}

.rs-2{ 
    grid-area: rs-2;
    background-image: url(../image/mha.jpg);
    background-size: cover;
}

.rs-3{
    grid-area: rs-3;
    background-image: url(../image/pzc.jpg);
    background-size: cover;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:  rgb(19, 21, 22);
    padding: 30px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer h4 {
    color: antiquewhite;
    font-size: 23px;
    padding-bottom: 15px; /*ngubah font sama padding*/
}

footer p {
    color: antiquewhite;
    font-size: 18px;
    margin: 0 0 2px 0;
}

footer p span strong {
    font-size: 18px;
    padding-bottom: 30px;
}

footer a {
    font-size: 17px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow h4 {
    padding-bottom: 5px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color:  #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #0a7069;
}

footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: -38px;
}